#Alan{
	color: grey;
}

a{
	text-decoration:none;
	color: white;
}

body{
	margin:0;
	background-color: #e6efef;

}
#hello{
	
	
	color:#8a8e8e;
	background-color: #e6efef;
	font-family: Arial;
	font-weight: 400px;
	font-size: 35px;
	


}
#hello: hover{
	opacity: 1.0;
}



#f_para{
	font-size: 30px;
}
#s_para{
	font-size: 25px;
}
#t_para{
	font-size: 20px;
}

#nav{
	float: 30%;
}
.content1{

	list-style-type: none;
	word-spacing: 150px;
	font-size: 25px;
	margin: 0;
	padding: 0;

}
#list1 li{
	list-style-type: none;
	display: inline;


}


a:hover{
	opacity: 1.0;
	color: #18C6CF;
	
}
.content2{
	color: grey;
	
	margin-top: 50px;


}

#list1{
	margin: 0;
	background-color: black;

}
#list2{
	margin: 0;
	background-color: black;
	padding: 10px;

}

.heading_hello{
    position: center;
    top: 50%;  
    width: 24em;
    margin: auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(0%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(22) 1s 1 normal both,
             blinkTextCursor 500ms steps(22) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 8em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: black;}
}

